/* Remember git add, git status, git commit and git push.  git commit form is git commit -m (message here) */


body {
    font-family: Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 5px 20px;
    width: 100%;
    
    
}

.header-right, .header-left {
    margin: 0px 80px;
    /* border: 2px dotted red; */
    
}
.opening {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-content: center;
    background-color: #1F2937;
    padding: 80px 80px;
    margin-bottom: 40px;
    width: 100%;
    
    /* border: 2px dotted red; */
    
}

.opening-left {
    width: 400px;
    flex-shrink: 0;
    margin-left: 80px;
     /* border: 2px dotted red; */
    
}
.opening-right {
    /* border: 2px dotted red; */
    margin-right: 80px;
    flex-shrink: 0;
}

.opening-img {
    width: 100%;
    height: 200px;
    margin-right: 80px;
}


.container {
    display: flex;
    justify-content: center;
    gap: 52px;
  }

.info {   
    max-width: 130px;
    text-align: center;
  }
  
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 50px;
    max-width: 900px;
    /* border: 2px dotted red; */

}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.sign-up {
    width: 700px;
    height: 120px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 30px 80px;
}
.sign-up-left {
    margin-left: 80px;
}
.sign-up-right {
    margin-right: 80px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:fit-content;
    background-color: #1F2937;
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 40px;


}

.info-img {
    width: 100px;
    height: 140px;
    border-radius: 10px;
    border: 2px solid #3882F6;
}
a:hover {
    cursor: pointer;
}

ul, li {
    display: flex;
    gap: 8px;
}

.button-one, .button-two {
    width: 50;
    height: 30;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 8px;
    text-align: center;   
    font-weight: bold;
    margin-top: 12px;
    padding: 5px 10px;
    border: none;
    font-size: 18px;
}

.button-two {
    border: 2px solid #E5E7EB;
    
}

button:hover {
    cursor: pointer;   
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text, .header-link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-secondary-text-dark {
    font-size: 18px;
    color: #1F2937;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 20px;
}


.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 800px;
}

.quote-attribution-text {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
        
}